.ApplicationCard {
    width: 1000px;
    height: max-content;
    padding: 10px;
    margin: 10px;
    background-color: rgb(68, 68, 68);
}

.hired {
    background-color: rgb(94, 212, 173);
}

.ApplicationCard-img {
    opacity: 1.0;
    border-radius: 50%;
}

.ApplicationCard-body {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.ApplicationCard-hireBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 77%;
    left: 85%;
    font-weight: bold;


}


.ApplicationCard-rejectBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 77%;
    left: 92%;
    font-weight: bold;
}


.acknowledgmentModal {
    opacity: 0;
    visibility: hidden;
    display: none;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    align-content: center;
    z-index: 100;
}

.acknowledgmentModal.show {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;

}


.modal-title {
    color: black
}

.modal-content {
    background: azure;
    padding: 10px;
}

p {
    color: black
}