.ApplicationCard {
    width: 1000px;
    height: max-content;
    padding: 10px;
    margin: 10px;
    background-color: rgb(68, 68, 68);
}

.hired {
    background-color: rgb(94, 212, 173);
}

.ApplicationCard-img {
    opacity: 1.0;
    border-radius: 50%;
}

.ApplicationCard-body {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.ApplicationCard-hireBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 77%;
    left: 85%;
    font-weight: bold;


}


.ApplicationCard-rejectBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 77%;
    left: 92%;
    font-weight: bold;
}