.Home {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;

}

.title {
    width: auto;
    height: auto;
    margin-top: 50px;
    font-size: 40px;
    text-shadow: 0 0 5px #000000, 0 0 3px #000000;
}

.Home-body {
    position: absolute;
    display: block;
    width: 700px;
    height: auto;
    margin-top: 125px;
    padding: 20px;
    background-color: rgba(125, 125, 125);
    border-radius: 20px;
}

.scheduleContainer {
    padding: 5px;
}


.petsContainer {
    margin-top: 20px;
    width: inherit;
    max-height: 500px;
}

.jobs {
    position: absolute;
    width: auto;
    background-color: rgba(125, 125, 125, 0.3);
    border-radius: 20px;
    padding: 5px;
    margin-top: 510px;
}


.sortingBtns {
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.sortingBtn {
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.sortingBtn:hover {
    color: rgb(94, 212, 173);
}