.Home {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.title {
    width: auto;
    height: auto;
    margin-top: 15px;
    font-size: 40px;
    text-shadow: 0 0 5px #000000, 0 0 3px #000000;
}

.Home-Walker-body {
    position: relative;
    display: flex;
    width: 1360px;
    height: auto;
    margin-top: 25px;
    padding: 30px 0px 30px 0px;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.scheduleContainer {
    background-color: rgba(125, 125, 125);
    border-radius: 20px;
    padding: 1rem 1rem;
    height: 400px;
    margin-right: 20px;
    width: 500px;
    text-align: center;
}


.petsContainer {
    margin-top: 20px;
    width: inherit;
    max-height: 500px;
}

.jobs {
    background-color: rgba(125, 125, 125);
    border-radius: 20px;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
}


.sortingBtns {
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.sortingBtn {
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.sortingBtn:hover {
    color: rgb(94, 212, 173);
}

.NxtPrevBtnGrp {
    display: flex;
}

.NxtPrevBtnGrp button {
    margin: 10px;
}