.addJobBtn {
    width: 35px;
    height: 36px;
    border-radius: 50%;
    border: 3px solid rgb(63, 184, 167);
    font-size: 21px;
    font-weight: 900;
    color: rgb(94, 212, 173);
    margin-bottom: 6px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    top: 28px;
    left: 280px;
}

.addJobBtn:hover {
    color: white;
    background-color: rgb(94, 212, 173);
    border: 3px solid rgb(94, 212, 173);


}


.modal {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    align-content: center;
}

.modal.show {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;

}

.modal-content {
    width: max-content;

}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

/* .duration__control {
    width: 10px;
}

.css-13cymwt-control {
    width: 10px;

} */