.SearchJobform input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 125px;
    margin: 0px 3px 0px 3px;
}

.SearchJobform .form-control {
    display: flex;
    width: fit-content;
    color: #212529;
    background-color: rgba(248, 249, 250, 0);
    background-clip: padding-box;
    border: 1px solid rgba(248, 249, 250, 0);
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

.searchBtn {
    margin: 0px 3px 0px 3px;
}