.JobCard {
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    margin: 1rem;
    max-height: 250px;
    width: 500px;
    padding: 25px;
    background-color: rgb(94, 212, 173);
    position: relative;
}

.applyBtn {
    position: absolute;
    top: 66%;
    left: 74%;
    width: 101px;
    font-weight: 700;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #429485;
    border-color: #429485;
    color: white;
}

.applyBtn:hover {
    background-color: #B8FFF2;
    color: #429485;
}