.ScheduleList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 285px;
}

.ScheduleList::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.ScheduleList::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.ScheduleList::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.ScheduleList::-webkit-scrollbar-thumb:hover {
    background: #555;
}