.ScheduleCard {
    display: block;
    background-color: rgb(94, 212, 173);
    margin-top: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding-right: 35px;

}

.dow {
    font-weight: bold;
}

.ScheduleList {
    text-align: center;
}

.ScheduleList>a {
    color: white;
    text-decoration: none;
}

.row {
    white-space: nowrap;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.dogPawIcon {
    width: 50px;
}