.SchedulePage-backBtn {
    position: absolute;
    font-size: large;
    top: 2%;
    left: 5%;
}

.viewAppBtn {
    background-color: rgb(63, 184, 167);
    width: 180px;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    color: white;
    border-color: rgb(63, 184, 167);
    text-align: center;
    margin-top: 5px;
}

.viewAppBtn:hover {
    background-color: rgb(94, 212, 173);
    border-color: rgb(94, 212, 173);
}

.SchedulePage {
    position: relative;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(68, 68, 68, 0.9);
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}



.SchedulePage-petsList {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 12px;
}

.SchedulePage-petsSection {
    margin-top: 15px;
    margin-bottom: 20px;
}

.walkerContainer {
    width: fit-content;
    height: max-content;
    /* background-color: rgba(68, 68, 68, 0.9); */
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;
    align-items: flex-start;
    margin-top: 12px;
}

.walkerBody {
    text-align: center;
}

.walkerImg {
    opacity: 1.0;
    border-radius: 50%;
    width: 120px;
}


.walkerInfo {}