.ScheduleCard {
    display: block;
    background-color: rgb(63, 184, 167);
    margin-top: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding-right: 35px;

}

.ScheduleCard:hover {
    background-color: rgb(94, 212, 173);
}

.dow {
    font-weight: bold;
}

.ScheduleList {
    text-align: center;
}

.ScheduleList>a {
    color: white;
    text-decoration: none;
}

.ScheduleCard .row {
    white-space: nowrap;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.dogPawIcon {
    width: 30px;
    height: 30px;
    padding: 0px;
}

@media (max-width: 480px) {
    .ScheduleCard {
        padding-right: 0px;
    }

    .custom-row-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 2px 0px 2px !important;
        margin-top: 8px !important;
    }

    .row-item-status {
        margin-bottom: 10px !important;
    }
}