.addJobBtn {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(94, 212, 173, 0.4);
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.sortingBtns {
    margin: 5px;
    padding: 10px;
}

.sortingBtn {
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.sortingBtn:hover {
    color: rgba(94, 212, 173, 0.4);
}