.PetProfile {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.PetProfileBody {
    background-color: rgba(68, 68, 68, 0.9);
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
}

.petPfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(181, 255, 255);
    margin-bottom: 10px;


}

.petProfileHead {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


}

.petInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;

}

.PetProfile-walkSchedule-list {
    overflow-y: auto;
    max-height: 250px;
    text-align: center;
}

.PetProfile-walkSchedule-list a {
    text-decoration: none;
    color: white;
}

.editBtn {
    position: absolute;
    top: 0%;
    left: 90%;
    border-radius: 8px;
    padding: 2px 10px;
}

.backBtn {
    position: absolute;
    font-size: large;
    top: 0%;
    left: 1%;
}

.PetProfile-walkSchedule-list::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.PetProfile-walkSchedule-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.PetProfile-walkSchedule-list::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.PetProfile-walkSchedule-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}