main {
  display: flex;
  flex-direction: column;
  background-image: url("./images/background.jpg");
  background-repeat: repeat;
  height: 92.5vh;
  margin-top: 66px;
  overflow: scroll;
  background-size: cover;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}