.navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #8fc0f5;
}




.navBar {
    position: fixed;
    top: 0;
    left: 2%;
    width: 95%;
    z-index: 100;
}

.navLogo {
    font-size: x-large;
}


.navPfp {
    border-radius: 50%;
    height: 40px;
    width: 40px;

}